body{
    max-width: 100%;
    margin: 0,auto;
    height: 100%; 
    background-color: hsl(217, 28%, 15%) ;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
h1{
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color:  hsl(0, 0%, 100%)
}
p{
    font-weight: 400;
    color:  hsl(0, 0%, 100%)
}
button{
    margin: 30px;
    height: 40px;
    padding: 15px,0;
    border-radius: 30px;
    outline: inherit;
    border-color: white;
    background-color:hsl(176, 68%, 64%) ;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-weight: bold;
}
input{
    outline: none;
    border-radius: 40px;
    height: 45px;
    width: 65%;
    padding-left: 40px;
    outline: none;
    cursor: pointer;
    border: none;
}
ul li{
    list-style-type: none;
    padding: 10px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(198, 60%, 50%);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 35px,0px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    flex-wrap: nowrap;
}
.logo img{
    padding: 15px;
}
.bar a{
    color: white;
}
nav .bar{
    list-style-type: none;
}
  nav ul{
   display: inline-flex;
    flex-direction: row;
    padding: 20px;
}
.intro{
    max-width: 100%;
    text-align: center;
    color: white;
    margin-top: 30px;
    position: relative;
    top: 100px; 
   
}
.intopng{
    max-width: 100%;
}
.intro #btn{
    width: 20%;
}
.curvy{
    max-width: 100%;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(218, 28%, 13%);
    height: fit-content;
    flex-grow: 1;
}
/* .curvy{
   z-index: -1;
   left: -60px;
} */
.productive{
    font-size: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    background-color: hsl(218, 28%, 13%);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}
.productive .team{
    max-width: 100%;
    height: auto;
}
.productive div{
    margin-top: 70px;
   padding: 35px;
}
.productive #motive{
    margin-top: 100px;
}
article{
    background-color: hsl(218, 28%, 13%);
    /* height: 450px;  */
}
.article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    gap: 15px; 
    padding-top: 40px;
    margin: 35px ,0;
}
.curvy{
    max-width: 100%;
}
.quotes{
    position: absolute;
    top: -15;
    left: 0;
}
.article div{
    width: 400px;
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 15px;
    max-width: 100%;
}
.identity{
    height: auto;
    border-radius: 50px;
    width: 70px;
    
}
.bio{
    display: flex;
    justify-content: space-evenly;
}
    


aside{
    max-width: 100%;
    width: 800px;
    position: sticky;
    left: 20%;
    box-sizing: border-box;
    background-color:  hsl(218, 28%, 13%);
}
aside div{
    text-align: center;
   padding: 35px;
 background-color: hsl(219, 30%, 18%);
}

footer{
    background-color:  hsl(216, 53%, 9%);
    padding: 30px ,0px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
footer .foot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.foot div{
    padding: 12px;
}
.foot img{
    padding: 5px;
}
button:hover{
    opacity: 0.3;
}
a:hover{
    position: relative;
    bottom: 6px;
    border-bottom: 1px solid rgb(234, 240, 234);  
}
@media screen and (max-width: 650px){
   body{
       max-width: 100%;
       margin: 0,auto;
   }
header{
display: flex;
justify-content: space-between;
margin: auto;
padding: 35px,0px;
align-items: center;
font-family: 'Raleway', sans-serif;
flex-wrap: nowrap;
text-align: center;
max-width: 100%;
}
.itropng{
    max-width: 100%;
}
.curvy{
    max-width: 100%;
}
}
